<header class="navbar navbar-fixed top">
	<div class="navbar-inner">
		<div class="container">
			<!-- <h3><a href="#">GenRails</a></h3> -->
			<%= link_to "ngs_app", root_path, :id => "logo" %> 
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home",    root_path %></li>
					<li><%= link_to "Help",    help_path %></li>
					<li><%= link_to "Sign in", signup_path %></li>
				</ul>

				<ul class="nav">
              		<li class="dropdown">
              			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Analytical Tools<b class="caret"></b></a>
	                		<ul class="dropdown-menu">
	                  			<li><a href="#">NGS Community</a></li>
	                  			<li><%= link_to "About", about_path %></li>
					  			<li><a href="http://www.berndtlab.pitt.edu">Analytical Tools</a></li>
	                		</ul>
	                </li>
	                <li class="dropdown">		
                		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Services<b class="caret"></b></a>
              		</li><!-- dropdown -->
           		</ul><!-- /.nav -->
			</nav>
		</div>
	</div>
</header>